body {
  font-size: 12px;
  background: 
    linear-gradient(to bottom, white 40%, rgba(255, 255, 255, 0)),
    url("/static/images/dummy.jpg") no-repeat bottom center; 
  background-size: cover; 
  background-attachment: fixed;   
}

body.not-first-page {
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0)), 
    url("/static/images/random.jpg") no-repeat bottom center; 
  background-size: cover; 
  background-attachment: fixed; 
}

/* Bar styles */
.bar {
  background-color: white; 
  padding: 10px; 
}

  .password-hint {
    font-weight: bold; /* Makes the text bold */
    font-size: 1.1em; /* Slightly increases the font size */
    color: #555; /* Optional: Adjust color for better readability */
  }




    
@media screen and (max-width: 48em) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left .sidebar-offcanvas {
	  left: -33%;
  }
  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}
   
    
@media screen and (max-width: 15em) {
  .row-offcanvas-left .sidebar-offcanvas {
	left: -45%;
  }
  .row-offcanvas-left.active {
	left: 45%;
	margin-left: -6px;
  }
  .sidebar-offcanvas {
	width: 45%;
  }
}

.card {
  overflow: hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(247, 243, 243, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

.display-1 a {
	text-decoration:none;
}

.leftMenus a {
	font-size:16px;
	color:#000204;
}