{% include 'header.html' %}
<body>
  <div class="container-fluid" id="main">
  {% include 'top_menus.html' %}  	
    <div class="row row-offcanvas row-offcanvas-left">      
      <div class="col-md-9 col-lg-10 main"> 
	<h2>User Registration</h2>
	<form action="{{ url_for('register') }}" method="post">
		{% if message %}
			<div class="alert alert-warning">{{ message }}</div>
		{% endif %}
		
		<div class="form-group">
			<label for="first_name">First Name:</label>
			<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter first name">
		</div>
		
		<div class="form-group">
			<label for="last_name">Last Name:</label>
			<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter last name">
		</div>
	
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
		</div>
		
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
			<small class="form-text text-muted password-hint">
				Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character.
			  </small>  
		</div>    
	
		<button type="submit" class="btn btn-primary">Register</button>
		
		<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
	</form>	
<hr>         
       </div>       
      </div>     
    </div>
	<script>
		document.querySelector('form').addEventListener('submit', function (event) {
		  const password = document.getElementById('password').value;
		  const email = document.getElementById('email').value;
		  const passwordCriteria = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
	  
		  if (!passwordCriteria.test(password)) {
			event.preventDefault();
			alert("Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character.");
		  }
		});
	  </script>
	  

  </body>
</html>